
# Soundcard-Configuration for ALSA driver
# Copyright (c) by Anders Semb Hermansen <ahermans@vf.telia.no>

CONFIG_PERSIST=1
CONFIG_SND=1
CONFIG_SND_MIXER=1
CONFIG_SND_PCM=1
CONFIG_SND_MIDI=1
CONFIG_SND_TIMER=1
CONFIG_SND_HWDEP=1
CONFIG_SND_PCM1=1
CONFIG_SND_PCM1_OSS=1
CONFIG_SND_SEQ=1
CONFIG_SND_SEQ_MIDI=1
CONFIG_SND_SEQ_MIDI_EMUL=1
CONFIG_SND_SEQ_INSTR=1
CONFIG_SND_AINSTR_SIMPLE=1
CONFIG_SND_AINSTR_GF1=1
CONFIG_SND_AINSTR_IW=1
CONFIG_SND_DETECT=1
CONFIG_SND_MPU401_UART=1
CONFIG_SND_OPL3=1
CONFIG_SND_AC97_CODEC=1
CONFIG_SND_AK4531_CODEC=1
CONFIG_SND_UART16550=1
CONFIG_SND_GUS=1
CONFIG_SND_I2C=1
CONFIG_SND_TEA6330T=1
CONFIG_SND_AD1848=1
CONFIG_SND_CS4231=1
CONFIG_SND_ES1688=1
CONFIG_SND_ES18XX=1
CONFIG_SND_CS4236=1
CONFIG_SND_S3_86C617=1
CONFIG_SND_ENS1370=1
CONFIG_SND_ENS1371=1
CONFIG_SND_ES1938=1
CONFIG_SND_TRIDENT_DX_NX=1
CONFIG_SND_CS461X=1
CONFIG_SND_FM801=1
CONFIG_SND_SB8_DSP=1
CONFIG_SND_SB16_DSP=1
CONFIG_SND_EMU8000=1
CONFIG_SND_HAL2=1
CONFIG_SND_INTERWAVE=1
CONFIG_SND_INTERWAVE_STB=1
CONFIG_SND_GUSMAX=1
CONFIG_SND_GUSEXTREME=1
CONFIG_SND_GUSCLASSIC=1
CONFIG_SND_AUDIODRIVE1688=1
CONFIG_SND_AUDIODRIVE18XX=1
CONFIG_SND_SB8=1
CONFIG_SND_SB16=1
CONFIG_SND_SBAWE=1
CONFIG_SND_OPL3SA=1
CONFIG_SND_MOZART=1
CONFIG_SND_SONICVIBES=1
CONFIG_SND_AUDIOPCI1370=1
CONFIG_SND_AUDIOPCI1371=1
CONFIG_SND_CARD_AD1848=1
CONFIG_SND_CARD_CS4231=1
CONFIG_SND_CARD_CS4232=1
CONFIG_SND_CARD_CS4236=1
CONFIG_SND_CARD_CS461X=1
CONFIG_SND_CARD_FM801=1
CONFIG_SND_ESSSOLO1=1
CONFIG_SND_OPTI9XX=1
CONFIG_SND_SERIAL=1
CONFIG_SND_TRID4DWAVE=1
CONFIG_SND_SGALAXY=1
CONFIG_SND_CARD_HAL2=1
