#
# Module dependencies
#
# Module is specified without extension.
# Final (soundcard) modules have prefix '|'.
#


%DIR kernel
snd
snd-rawmidi snd
snd-timer snd
snd-rtctimer snd-timer
snd-hwdep snd
snd-pcm snd-timer

%DIR kernel/seq
snd-seq-device snd
snd-seq snd snd-timer snd-seq-device snd-rtctimer
snd-seq-midi-event snd-seq
snd-seq-midi snd-rawmidi snd-seq snd-seq-midi-event
snd-seq-midi-emul snd-seq
snd-seq-instr snd-seq
snd-seq-virmidi snd-rawmidi snd-seq snd-seq-midi-event

%DIR kernel/seq/instr
snd-ainstr-fm snd-seq-instr
snd-ainstr-simple snd-seq-instr
snd-ainstr-gf1 snd-seq-instr
snd-ainstr-iw snd-seq-instr

%DIR lowlevel/generic
snd-mpu401-uart snd-seq-midi
snd-opl3 snd-hwdep snd-timer
snd-synth-opl3 snd-opl3 snd-seq-device snd-seq-midi-emul snd-ainstr-fm
snd-ac97-codec snd
snd-ak4531-codec snd
snd-util-mem snd
snd-synth-emux snd-seq-device snd-seq-midi-emul snd-ainstr-simple \
               snd-seq-virmidi snd-util-mem

%DIR lowlevel/gus
snd-gus snd-pcm snd-timer snd-seq-midi snd-seq-device
snd-synth-gus snd-gus snd-seq-midi-emul \
              snd-ainstr-iw snd-ainstr-gf1 snd-ainstr-simple

%DIR lowlevel/i2c
snd-i2c snd
snd-tea6330t snd-i2c

%DIR lowlevel/isa
snd-ad1848 snd-pcm
snd-cs4231 snd-pcm snd-timer
snd-es1688 snd-pcm
snd-cs4236 snd-cs4231 snd-pcm
snd-wavefront-synth snd-hwdep snd-seq-midi
snd-wavefront-fx snd-hwdep
snd-ad1816a snd-pcm snd-timer

%DIR lowlevel/pci
snd-trident snd-pcm snd-ac97-codec snd-util-mem
snd-trident-synth snd-trident snd-seq-midi-emul snd-ainstr-simple
snd-cs46xx snd-pcm snd-ac97-codec snd-seq-midi
snd-rme9652-mem
snd-ymfpci snd-pcm snd-ac97-codec snd-mpu401-uart

%DIR lowlevel/sb
snd-sb-common
snd-sb8-dsp snd-sb-common snd-pcm snd-seq-midi
snd-sb16-dsp snd-sb-common snd-pcm
snd-sb16-csp snd-sb-common snd-hwdep
snd-emu8000 snd-seq-device
snd-synth-emu8000 snd-emu8000 snd-synth-emux

%DIR lowlevel/emu10k1
snd-emu10k1 snd-pcm snd-ac97-codec snd-seq-midi snd-util-mem snd-hwdep
snd-synth-emu10k1 snd-synth-emux

%DIR lowlevel/hal2
snd-hal2 snd-pcm

%DIR cards

|snd-card-share		"Share soundcard" \
			snd-pcm

|snd-card-dummy		"Dummy (/dev/null) soundcard" \
			snd-pcm

|snd-card-virmidi	"Virtual MIDI soundcard" \
			snd-seq-virmidi

|snd-card-interwave	"ISA: InterWave / Gravis UltraSound PnP" \
			snd-gus snd-synth-gus snd-cs4231

|snd-card-interwave-stb "ISA: InterWave + TEA6330T (UltraSound 32-Pro)" \
                        snd-gus snd-synth-gus snd-cs4231 snd-tea6330t

|snd-card-gusmax	"ISA: Gravis UltraSound MAX" \
			snd-gus snd-synth-gus snd-cs4231

|snd-card-gusextreme	"ISA: Gravis UltraSound Extreme" \
			snd-gus snd-synth-gus snd-es1688 snd-mpu401-uart \
			snd-synth-opl3

|snd-card-gusclassic	"ISA: Gravis UltraSound Classic" \
			snd-gus snd-synth-gus

|snd-card-es1688	"ISA: ESS ES1688" \
			snd-es1688 snd-mpu401-uart snd-synth-opl3

|snd-card-es18xx	"ISA: ESS ES18XX" \
			snd-mpu401-uart snd-synth-opl3

|snd-card-sb8		"ISA: Sound Blaster 1.0/2.0/Pro" \
			snd-sb8-dsp snd-synth-opl3

|snd-card-sb16		"ISA: Sound Blaster 16" \
			snd-sb16-dsp snd-sb16-csp snd-mpu401-uart \
			snd-synth-opl3

|snd-card-sbawe		"ISA: Sound Blaster AWE 32/64" \
			snd-sb16-dsp snd-sb16-csp snd-mpu401-uart \
			snd-synth-opl3 snd-emu8000 snd-synth-emu8000

|snd-card-emu10k1	"PCI: EMU10K1 (SB Live!, E-mu APS)" \
			snd-emu10k1 snd-synth-emu10k1

|snd-card-opl3sa2	"ISA: Yamaha OPL3-SA2/SA3" \
			snd-cs4231 snd-mpu401-uart snd-synth-opl3

|snd-card-sonicvibes	"PCI: S3 SonicVibes" \
			snd-pcm snd-mpu401-uart snd-synth-opl3

|snd-card-ens1370	"PCI: (Creative) Ensoniq AudioPCI 1370" \
			snd-pcm snd-ak4531-codec snd-seq-midi

|snd-card-ens1371	"PCI: (Creative) Ensoniq AudioPCI 1371" \
			snd-pcm snd-ac97-codec snd-seq-midi

|snd-card-ad1816a	"ISA: Analog Devices SoundPort AD1816A" \
			snd-ad1816a snd-mpu401-uart snd-synth-opl3

|snd-card-ad1848	"ISA: Generic AD1848/CS4248" \
			snd-ad1848

|snd-card-als100	"ISA: Avance Logic ALS100" \
			snd-sb16-dsp snd-mpu401-uart snd-synth-opl3

|snd-card-azt2320	"ISA: Aztech Systems AZT2320" \
			snd-cs4231 snd-mpu401-uart snd-synth-opl3

|snd-card-cs4231	"ISA: Cirrus Logic CS4231" \
			snd-cs4231 snd-mpu401-uart

|snd-card-cs4232	"ISA: Cirrus Logic CS4232" \
			snd-cs4231 snd-mpu401-uart snd-synth-opl3

|snd-card-cs4236	"ISA: Cirrus Logic CS4236" \
			snd-cs4236 snd-cs4231 snd-mpu401-uart snd-synth-opl3

|snd-card-cs4281	"PCI: Cirrus Logic CS4281" \
			snd-pcm snd-ac97-codec snd-synth-opl3

|snd-card-cs46xx	"PCI: Cirrus Logic (Sound Fusion) CS4280/CS461x/CS462x/CS463x" \
			snd-cs46xx

|snd-card-es968		"ISA: ESS ES968" \
			snd-sb8-dsp

|snd-card-dt0197h	"ISA: Diamond Technologies DT-0197H" \
			snd-sb16-dsp snd-mpu401-uart snd-synth-opl3

|snd-card-fm801		"PCI: ForteMedia FM801" \
			snd-pcm snd-ac97-codec snd-mpu401-uart snd-synth-opl3

|snd-card-es1938	"PCI: ESS ES1938/1946 (Solo-1)" \
			snd-pcm snd-synth-opl3

|snd-card-es1968	"PCI: ESS ES1968/1978 (Maestro-1/2/2E)" \
			snd-pcm snd-ac97-codec snd-mpu401-uart

|snd-card-opti92x-ad1848	"ISA: OPTi 82C92x - AD1848" \
				snd-ad1848 snd-mpu401-uart snd-synth-opl3

|snd-card-opti92x-cs4231	"ISA: OPTi 82C92x - cs4231" \
				snd-cs4231 snd-mpu401-uart snd-synth-opl3

|snd-card-opti93x	"ISA: OPTi 82C93x" \
			snd-pcm snd-mpu401-uart snd-synth-opl3

|snd-card-serial	"ISA: UART16550 - MIDI only driver" \
			snd-rawmidi

|snd-card-trident	"PCI: Trident 4D-Wave DX/NX; SiS 7018" \
			snd-trident snd-trident-synth \
			snd-ac97-codec snd-mpu401-uart

|snd-card-sgalaxy	"ISA: Aztech Sound Galaxy" \
			snd-ad1848

|snd-card-wavefront	"ISA: Turtle Beach Maui,Tropez,Tropez+ (Wavefront)" \
			snd-cs4231 snd-mpu401-uart snd-synth-opl3 \
			snd-wavefront-synth snd-wavefront-fx

|snd-card-hal2		"SGI: HAL2" \
			snd-hal2

|snd-card-cmi8330	"ISA: C-Media CMI8330" \
			snd-ad1848 snd-sb16-dsp

|snd-card-mtpav		"ISA: MOTU MidiTimePiece AV multiport MIDI" \
			snd-rawmidi

|snd-card-rme96		"PCI: RME Digi96, 96/8, 96/8 PRO" \
			snd-pcm

|snd-card-rme9652       "PCI: RME Digi9652 (Hammerfall)" \
			snd-pcm snd-rme9652-mem

|snd-card-ice1712	"PCI: ICEnsemble ICE1712 (Envy24)" \
			snd-pcm snd-ac97-codec snd-mpu401-uart

|snd-card-intel8x0	"PCI: Intel i810/i820/i830/i840/MX440 integrated audio" \
			snd-pcm snd-ac97-codec

|snd-card-pdplus	"PCI: Marian/Sek'D Prodif Plus" \
			snd-pcm

|snd-card-via686a	"PCI: VIA 82C686A South Bridge" \
			snd-pcm snd-ac97-codec snd-mpu401-uart

|snd-card-cmipci	"PCI: C-Media 8738, 8338" \
			snd-pcm snd-mpu401-uart

|snd-card-ymfpci	"PCI: Yamaha YMF724/740/744/754" \
			snd-ymfpci snd-mpu401-uart snd-synth-opl3

|snd-card-mpu401	"ISA: Generic MPU-401 UART driver" \
			snd-mpu401-uart

|snd-card-als4000	"PCI: Avance Logic ALS4000" \
			snd-sb-common snd-pcm snd-mpu401-uart snd-synth-opl3

|snd-card-maestro3	"PCI: ESS Allegro/Maestro3" \
			snd-pcm snd-ac97-codec

|snd-card-nm256		"PCI: NeoMagic NM256AV/ZX" \
			snd-pcm snd-ac97-codec
