#
# Module dependencies
#
# Module is specified without extension.
# Final (soundcard) modules have prefix '|'.
#


%DIR kernel
persist
snd persist
snd-mixer snd
snd-pcm snd
snd-midi snd
snd-timer snd
snd-synth snd

%DIR kernel/pcm1
snd-pcm1 snd-pcm
snd-pcm1-oss snd-pcm1

%DIR kernel/seq
snd-seq snd
snd-seq-midi snd-seq
snd-seq-midi-emul snd-seq
snd-seq-instr snd-seq

%DIR kernel/seq/instr
snd-ainstr-iw snd

%DIR detect
snd-detect snd

%DIR lowlevel/generic
snd-mpu401-uart snd-midi snd-seq-midi
snd-opl3 snd-synth snd-timer
snd-ac97-codec snd-mixer
snd-ak4531-codec snd-mixer
snd-uart16550 snd-midi snd-seq

%DIR lowlevel/gus
snd-gus snd-pcm1 snd-mixer snd-timer snd-midi snd-seq-midi snd-seq-midi-emul snd-ainstr-iw

%DIR lowlevel/i2c
snd-i2c snd
snd-tea6330t snd-i2c snd-mixer

%DIR lowlevel/isa
snd-ad1848 snd-pcm1 snd-mixer
snd-cs4231 snd-pcm1 snd-mixer snd-timer
snd-es1688 snd-pcm1 snd-mixer
snd-es18xx snd-pcm1 snd-mixer
snd-cs4236 snd-cs4231 snd-pcm1 snd-mixer

%DIR lowlevel/pci
snd-s3-86c617 snd-pcm1 snd-mixer
snd-ens1370 snd-pcm1 snd-ak4531-codec snd-mixer snd-midi snd-seq-midi
snd-ens1371 snd-pcm1 snd-ac97-codec snd-mixer snd-midi snd-seq-midi
snd-es1938 snd-pcm1 snd-mixer
snd-trident_dx_nx snd-pcm1 snd-ac97-codec
snd-cs461x snd-pcm1 snd-ac97-codec
snd-fm801 snd-pcm1 snd-ac97-codec

%DIR lowlevel/sb
snd-sb8-dsp snd-pcm1 snd-mixer snd-midi snd-seq-midi
snd-sb16-dsp snd-pcm1 snd-mixer
snd-emu8000 snd-seq-midi-emul

%dir lowlevel/hal2
snd-hal2 snd-pcm1

%DIR cards
|snd-interwave snd-gus snd-cs4231
|snd-interwave-stb snd-gus snd-cs4231 snd-tea6330t
|snd-gusmax snd-gus snd-cs4231
|snd-gusextreme snd-gus snd-es1688
|snd-gusclassic snd-gus
|snd-audiodrive1688 snd-es1688 snd-mpu401-uart snd-opl3
|snd-audiodrive18xx snd-es18xx snd-mpu401-uart snd-opl3
|snd-sb8 snd-sb8-dsp snd-opl3
|snd-sb16 snd-sb16-dsp snd-mpu401-uart snd-opl3
|snd-sbawe snd-sb16-dsp snd-mpu401-uart snd-opl3 snd-emu8000
|snd-opl3sa snd-cs4231 snd-mpu401-uart snd-opl3
|snd-mozart snd-ad1848
|snd-sonicvibes snd-s3-86c617 snd-mpu401-uart snd-opl3
|snd-audiopci1370 snd-ens1370
|snd-audiopci1371 snd-ens1371
|snd-card-ad1848 snd-ad1848
|snd-card-cs4231 snd-cs4231 snd-mpu401-uart
|snd-card-cs4232 snd-cs4231 snd-mpu401-uart snd-opl3
|snd-card-cs4236 snd-cs4236 snd-cs4231 snd-mpu401-uart snd-opl3
|snd-card-cs461x snd-cs461x
|snd-card-fm801 snd-fm801 snd-mpu401-uart snd-opl3
|snd-esssolo1 snd-es1938 snd-opl3
|snd-opti9xx snd-cs4231 snd-ad1848 snd-mpu401-uart snd-opl3
|snd-serial snd-uart16550
|snd-trid4dwave snd-trident_dx_nx snd-ac97-codec snd-mpu401-uart
|snd-sgalaxy snd-ad1848
|snd-card-hal2 snd-hal2
