#
# Module dependencies
#
# Module is specified without extension.
# Final (soundcard) modules have prefix '|'.
#


%DIR kernel
snd persist
snd-mixer snd
snd-pcm snd
snd-midi snd
snd-timer snd
snd-synth snd

%DIR kernel/pcm1
snd-pcm1 snd-pcm
snd-pcm1-oss snd-pcm1

%DIR kernel/seq
snd-seq snd

%DIR detect
snd-detect snd

%DIR lowlevel/generic
snd-mpu401-uart snd-midi
snd-opl3 snd-synth snd-timer

%DIR lowlevel/gus
snd-gus snd-pcm1 snd-mixer snd-timer snd-synth snd-midi

%DIR lowlevel/i2c
snd-i2c snd
snd-tea6330t snd-i2c snd-mixer

%DIR lowlevel/isa
snd-ad1848 snd-pcm1 snd-mixer
snd-cs4231 snd-pcm1 snd-mixer snd-timer
snd-es1688 snd-pcm1 snd-mixer
snd-es1868 snd-pcm1 snd-mixer
snd-es1869 snd-pcm1 snd-mixer

%DIR lowlevel/pci
snd-s3-86c617 snd-pcm1 snd-mixer

%DIR lowlevel/sb
snd-sb-dsp snd-pcm1 snd-mixer snd-midi
snd-emu8000 snd-synth

%DIR cards
|snd-interwave snd-gus snd-cs4231
|snd-interwave-stb snd-gus snd-cs4231 snd-tea6330t
|snd-gusmax snd-gus snd-cs4231
|snd-gusextreme snd-gus snd-es1688
|snd-gusclassic snd-gus
|snd-audiodrive1688 snd-es1688
|snd-audiodrive1868 snd-es1868 snd-mpu401-uart snd-opl3
|snd-audiodrive1869 snd-es1869 snd-mpu401-uart snd-opl3
|snd-sb8 snd-sb-dsp snd-opl3
|snd-sb16 snd-sb-dsp snd-mpu401-uart snd-opl3
|snd-sbawe snd-sb-dsp snd-mpu401-uart snd-opl3 snd-emu8000
|snd-opl3sa snd-cs4231 snd-mpu401-uart snd-opl3
|snd-mozart snd-ad1848
|snd-sonicvibes snd-s3-86c617 snd-mpu401-uart snd-opl3
|snd-audiopci snd-ens1370 snd-ac97-codec
|snd-card-ad1848 snd-ad1848
|snd-card-cs4231 snd-cs4231 snd-mpu401-uart
|snd-card-cs4232 snd-cs4231 snd-mpu401-uart snd-opl3
|snd-card-cs4236 snd-cs4236 snd-mpu401-uart snd-opl3
|snd-esssolo1 snd-es1938 snd-opl3
|snd-opti9xxx snd-ad1848 snd-opl3
|snd-serial snd-uart16550
