config SND_PC98_CS4232
	tristate "NEC PC9800 CS4232 driver"
	depends on SND && PC9800
	help
	  Say 'Y' or 'M' to include support for NEC PC9800 on-board soundchip
          based on CS4232.

config SND_MSND_PINNACLE
	tristate "Turtle Beach MultiSound Pinnacle/Fiji driver"
	depends on SND
	help
	  Say 'Y' or 'M' to include support for Turtle Beach MultiSound
	  Pinnacle/Fiji soundcards.

config SND_SSCAPE
	tristate "Ensoniq SoundScape PnP driver"
	depends on SND && ISAPNP
	help
	  Say 'Y' or 'M' to include support for Ensoniq SoundScape PnP
	  soundcard.

