config SND_MSND_PINNACLE
	tristate "Turtle Beach MultiSound Pinnacle/Fiji driver"
	depends on SND
	help
	  Say 'Y' or 'M' to include support for Turtle Beach MultiSound
	  Pinnacle/Fiji soundcards.

config SND_SSCAPE
	tristate "Ensoniq SoundScape PnP driver"
	depends on SND && ISAPNP
	help
	  Say 'Y' or 'M' to include support for Ensoniq SoundScape PnP
	  soundcard.

