config SND_PDPLUS
	tristate "Sek'D/Marian Prodif Plus"
	depends on SND
	help
	  Say 'Y' or 'M' to include support for Sek'D/Marian Prodif Plus
          soundcard.

config SND_MIXART
	tristate "Digigram miXart"
	depends on SND
	help
	  Say 'Y' or 'M' to include support for Digigram miXart soundcard.

