menu "PCI devices"
	depends on SND!=n && PCI

config SND_PDPLUS
	tristate "Sek'D/Marian Prodif Plus"
	depends on SND
	select SND_PCM
	help
	  Say Y here to include support for Sek'D/Marian Prodif Plus
	  soundcards.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-pdplus.

config SND_HDSPM
	tristate "RME Hammerfall DSP MADI"
	depends on SND
	select SND_HWDEP
	select SND_PCM
	help
	  Say Y here to include support for RME Hammerfall DSP MADI
	  soundcards.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-hdspm.

config SND_AZX
	tristate "Intel HD Audio"
	depends on SND
	select SND_PCM
	help
	  Say Y here to include support for Intel "High Definition
	  Audio" (Azalia) motherboard devices.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-azx.

config SND_ASIHPI
	tristate "AudioScience ASIxxxx"
	depends on SND && ASIHPK
	select SND_PCM
	help
	  Say 'Y' or 'M' to include support for AudioScience ASIxxxx soundcards.

config SND_PCXHR
	tristate "Digigram PCXHR"
	depends on SND
	select SND_PCM
	select SND_HWDEP
	help
	  Say Y here to include support for Digigram PCXHR boards.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-pcxhr.

endmenu
