# ALSA generic drivers

config SND_SERIALMIDI
	tristate "Generic driver for serial MIDI adapters"
	depends on SND
	select SND_RAWMIDI
	help
	  Say 'Y' or 'M' to include support for serial MIDI adapters.

